# this file is used in production docker worker for running flows triggered by prefect server UI or schedule

PROJECT_ROOT_DIR=/path/to/your/production/project

# DBT - don't change these
PREFECT_DBT_PROJECT_DIR=/app/dbt
PREFECT_DBT_PROFILES_DIR=/app/dbt

# MINIO
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_KEY=minio_admin
MINIO_SECRET=minio_password

# PREFECT
PREFECT_POSTGRES_USER=prefect
PREFECT_POSTGRES_PASSWORD=password
PREFECT_POSTGRES_DB=prefect_server
PREFECT_ORION_DATABASE_CONNECTION_URL=postgresql+asyncpg://prefect:password@postgres:5432/prefect_server
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_API_URL_UI_PROD=https://your-domanin.com/api
PREFECT_SERVER_URL=http://prefect-server:4200
PREFECT_API_URL_LOCAL_AGENT=http://prefect-server:4200/api

# GOOGLE BIG QUERY
GOOGLE_BIG_QUERY_CREDENTIALS_PATH=./bq-credentials.json
GOOGLE_BIG_QUERY_PROJECT_ID=your-project-id

# SSH ACCESS
SSH_USER=your-ssh-user
SSH_HOST=your-ssh-host
SSH_PATH_TO_PROJECT=/path/to/your/project